.page-header {
  margin-top: 0;
  padding: 0px 100px 00px 30px;
}
.page-header h1, .page-header h1 a, .page-header 
h1 a:visited, .page-header h1 a:active {
  color: #FFF8E7;
  font-size: 30pt;
  font-weight: 500
  text-decoration: none;
}
.content {
  color: #1E213D;
  background-color: lavender;
  font-family: 'candara';
  margin-left: 30px;
}
h1, h2, h3, h4 {
  font-family: 'Garamond', 'serif';
  color: #025669;
}
.date {
  color: #E32636;
}
.save {
  float: right;
}
.post-form textarea, .post-form input {
  width:100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
  color: #004953;
  float: right;
  font-size: 10pt;
  margin-right: 50px;
}
.post {
  margin-bottom: 50px;
}
.post h1 a, .post h1 a:visited {
  color: #025669;
}
/* .box {
  background-image: C:\Users\1\PycharmProjects\pythonProject1\blog\static\media\fon.jpg;
} */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border-bottom: 2px solid blue;
}
.menu a {
  background-color: #F5F5DC;
  display: block;
  border-top: 2px solid blue;
  height: 50px;
  line-height: 50px;
  color: #003153;
  font-size: 15px;
}
.zaga {
  font-size: 20px;
}
.mainmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mainmenu a {
  text-decoration: none;
  font-family: sans-serif;
  color: #5757a0;
  display: inline-block;
  padding: 10px 20px;
  background-color: #BDECB6;
  border-bottom: 5px solid #5757a0;
  font-size: 15px;
  border-radius:4px
 -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.mainmenu a:hover {
  background:#1C85BB;/*добавляем эффект при наведении*/
}
.mainmenu li {
   display: inline;
}

.col-1-3 {
  width: 10%;
  float: left;
  margin-left: 10px;
}

.col-2-3 {
  width: 80%;
  float: right;
  margin-right: 10px;
}

.manmenu a {
   color: #B00000;
   display: inline-block;
   background-color: #BDECB6;
   width: 80px;
   height: 30px;
   text-align: center;
   border-radius: 10px;
   margin: 20px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   transition: background-color .3s;
   z-index: 1000;
   font-size: 20px;
 }
 .row {
  margin-bottom: 15px;
}
.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}
